* {
  outline: 2px solid red;
  background-color: rgb(247, 224, 194);
   list-style-type: none;
}

img{
    margin: 20px;
    width: 250px;
    height: auto;
    border: 2px solid wheat;
    border-radius: 10px;
}

h2{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
}

.head, .info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.rigth h1{
   font-family: 'Times New Roman', Times, serif;
}
